@* @inject SignInManager<IdentityUser> signInManager *@
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav flex-grow-1">
            <li style="margin-left: 1550px">
                <form method="post" asp-controller="home" asp-action="index">
                    @*<a class="btn btn-primary" asp-area="" >Logout</a>*@
                    <button type="submit" style="width:auto; color:black" class="nav-link btn btn-primary">
                        <i class="fa fa-home"></i>
                    </button>
                </form>
            </li>&nbsp;&nbsp;&nbsp;
            @{ bool val = true;
                if (@Accessor.HttpContext.Session.GetString("Email") == null)
                {
                    val = false;
                }

            }
            @if (val)
            {
                <ul class="navbar-nav d-flex text-right">
                    <li class="nav-item">
                        <form method="post" asp-controller="account" asp-action="logout">
                            @*<a class="btn btn-primary" asp-area="" >Logout</a>*@
                            <button type="submit" class="nav-link btn text-right btn-primary">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                    <li class="nav-item" style="margin-left:50px">
                        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Login</a>
                    </li>
                    <li class="nav-item" style="margin-left:30px">
                        <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Register</a>
                    </li>
                </ul>
            }

            <!--
            <li>
                @* @if (signInManager.IsSignedIn(User))*@
                @* {*@
                <form method="post" asp-controller="account" asp-action="logout">
                    @*<a class="btn btn-primary" asp-area="" >Logout</a>*@
                    <button type="submit" style="width:auto" class="nav-link btn btn-primary py-0">
                        Logout
                    </button>
                </form>

            </li>-->
        </ul>
    </nav>
    <div>
        <!--
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="account" asp-action="register">
                            Register
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="account" asp-action="login">
                            Login
                        </a>
                    </li>
                    <li>
                        @* @if (signInManager.IsSignedIn(User))*@
                        @* {*@
                        <form method="post" asp-controller="account" asp-action="logout">
                            @*<a class="btn btn-primary" asp-area="" >Logout</a>*@
                            <button type="submit" style="width:auto" class="nav-link btn btn-primary py-0">
                                Logout
                            </button>
                        </form>

                    </li>
                </ul>
            </nav>
            <div>-->
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
    </div>
</body>
</html>
