@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/navbar.cshtml";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Index">Manage Food</a>
</div>
