<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1 class="display-4">Welcome</h1>

    <asp:Hyperlink ID="URL" runat="server" NavigateUrl:"Food">Manage Food</asp:Hyperlink>
</body>
</html>